.hey {
    height: 100px;
    width: 100px;
    background-color: goldenrod;
    text-align: center;
}

.dark {
    background-color: black;
    color: white;
    .hey {
        background-color: greenyellow;
        color: black;
    }
}

.light {
    background-color: white;
    color: black;
}